input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.login {
	&.form {
		padding-top: 30px;
		background-image: none;

	}
}

@media only screen and (min-width: 64.063em) { 
// -dj- vertical divider im login formular
	.login {
		&.form {
			padding-top: 30px;
			background: transparent url('../images/design/vertical_divider.gif') 50% 50% no-repeat;
		}
	}


}


.hinweis.bsp { 
	margin-top: 5px;
	color: #222;
	font-size: .875em; 
}
