@import "settings";
@import "foundation";
@import "darko";

// START Anzeige für Prototypnummer
.prototypnummer {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.500em;
	border: 1px solid #111;
	background: #333;
	color: #fff;
	display: none;
}

// END Anzeige für Prototypnummer

// START Layoutelemente
#divLayout
{
	padding-top: 100px;
}

// Fixed Header
.fixed {
	position: fixed;
	top:0;
	right: 0;
	left:0;
	z-index: 50;
	margin: 0 auto;
	width: 100%;
	height: 52px;
 }
 
 .sticky
 {
	 background: rgba(255,255,255,0.9);
	 &.fixed
	 {
		 top: 130px;
	 }
 }
 
 .mitteilung {
	 height: 176px;
	 background: #fef7da;
	 margin: 0 0 1em -2em;
	 width: auto;
	 padding: 1em 3em 0.750em 3em;
	 
	 p {
		 position: relative;
		 top: 50%;
		 transform: translateY(-50%);
	 }
	 
	&:after, &:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	
	&:after {
		border-color: rgba(221, 221, 221, 0);
		border-right-color: #fef7da;
		border-width: 10px;
		margin-top: -10px;
	}
	&:before {
		border-color: rgba(0, 0, 0, 0);
		border-right-color: #ddd;
		border-width: 11px;
		margin-top: -11px;
	}
 }

// END Layoutelemente

// START Header
header
{
	//height: 70px; (-dj-
	border-bottom: 1px solid #bbb;
	background: rgba(255,255,255,0.9);
	
	.logo
	{
		font-size: 2em;
	}
	
	#lstHauptnavigation
	{
		float: right;
		margin: 1em 0 0;
		list-style-type: none;
		
		li {
			float: left;
			margin: 0 1em 0 0;
		}
	}
	
	button
	{
		float: right;
		margin: 0;
	}
}
// END header

//START Footer Elemente
footer
{
	ul {
		float: right;
		list-style-type: none;
		
		li {
			float: left;
			padding: 0 0.500em;
			border-right: 1px solid #333;
			
			&:last-child {
				padding: 0 0 0.500 0;
				border: transparent;
			}
		}
	}
}
// END Footer Elemente

//START Textelemente

h3
{
	margin: 0;
	padding: 0.500em 0 2em;
	background: #fff;
	text-align: center;
}

large {
	font-size: 1.4em;

}

//Hyphenator Klassen
.hyphenate {
	text-align: left;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	-ms-hyphens: auto;
  }
  
.donthyphenate {
	text-align: left;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	-ms-hyphens: none;
}
//END Textelemnte

//START Allgemeine inhaltliche Elemente
.privacy-policy, .impressum {
	h1 {
		text-align: center;
	}
	
	h2 {
		font-size: 1.5rem;
	}
	
	img {
		position: absolute;
		right: 40px;
		bottom: 40px;
		width: 30px;
	}
	
	.panel {
		p {
			font-size: 1.5em;
			line-height: 1.2em;
			
			span {
				font-size: 1rem;
				line-height: 1rem;
			}
		}
	}
}
// END Allgemeine inhaltliche Elemente


//START Home Elemente
.surgeon
{
	
	> div
	{
		position: relative;
		height: 270px;
		text-align: center;
		
		h1, h2
		{
			margin: 1em 0 .500em;
		}
		
		h2
		{
			margin: 0;
		}
	}
}

.calltoaction
{
	margin-top: -60px;
	
	> div
	{
		height: 150px;
		text-align: center;
		
		button {
			margin: 5em auto 0;
		}
	}
	
	img {
			position: absolute;
			top: -50px;
			right: 0;
			left: 0;
			z-index: 150;
			margin: 0 auto;
			width: 100px;
			text-align: center;
		}
}

.vorteile
{
	img {
		float: left;
		margin: 0 3% 0 0;
		width: 10%;
	}
	
	p {
		float: left;
		width: 87%;
	}
}

.ablauf
{
	position: relative;
	display: block;
	overflow: hidden;
	background: url(/images/design/line.png) repeat-y center 80px;
	
	.number
	{
		text-align: center;
		
		
		> div  {
			display:inline-table;
			
			span {
				display: table-cell;
				width: 50px;
				height: 50px;
				border: 1px solid #333;
				border-radius: 50%;
				background-color: #fff;
				vertical-align: middle;
				text-align: center;
				font-weight: 600;
				font-size: 1.5em;
			}
		}
	}
}
//END Home Elemente

//START Step by Step
.stepbystep {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 0;
}

#lstZweitmeinung {
	position: relative;
	width: 100%;
	list-style-type: none;
	margin: 3em 0 0 0;
	border-top: 1px solid #ddd;
	padding: 2em 0 0 0;
	
	img {
		position: absolute;
		width: 56px;
		top: -4.5em;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	
	li {
		position: relative;
		float: left;
		width: 100%;
		margin-top: 1px;
		
			&:first-child {
			text-align: center;
			text-transform: uppercase;
			border-top:none;
				& span {
					display: block;
					width: 100%;
					font-size: 1.500rem;
				}
				&:after, &:before {
					border: none;
				}
			
			ul {
				margin: 0;
				padding: 0;
				border-top: 1px solid #ddd;
				li {
					float: left;
					list-style-type: none;
					width: 50%;
					border-bottom: 1px solid #ddd;
					
					&:first-child {
						border-right: 1px solid #ddd;
						background:$primary-color;
						
						a {
							color: #fff;
						}
					}
					&:last-child
					{
						border-top:none;
					}
					&:after, &:before {
							border: none;
						}
					
					a {
						font-size: 0.750rem;
						text-transform: none;
						padding: 0.3753em;
					}
				}
			}
		}
		
		a {
			display: block;
			padding: 1em ;
			
			&.selected {
		
				&:after, &:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				}
	
				&:after {
					border-color: rgba(255, 255, 255, 0);
					border-left-color: #ffffff;
					border-width: 10px;
					margin-top: -10px;
				}
				&:before {
					border-color: rgba(221, 221, 221, 0);
					border-left-color: #ddd;
					border-width: 11px;
					margin-top: -11px;
				}
			}
			
		}
		
		&:last-child
		{
			border-bottom: 1px solid #ddd;
		}
	}
}

progress[value] {
  /* Reset the default appearance */
	float: left;
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 3px;
	background: #fff;
}

progress[value]::-webkit-progress-bar {
	background-color: #ddd;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
}
//END Step by Step


//START Accordion Elemente

// -dj - accordion Anpassungen für opCheck
.accordion {
	dd {
		border-bottom: 1px solid #ccc;
		&:last-of-type {
			border-bottom: 0;
			.content {
				background: transparent;
				background-image: none !important; 
			}	
		}
	}
	.content {
		padding-left: 50px !important;
		background: transparent url('../images/design/pathLead.png') 18px 0 repeat-y !important;
	}
}

//END Accordion Elemente

//START Form Elemente
	
// -dj - forminfo ist für die Informationseinblendung auf der Seite, in jedem Bereich des Formulars (im Akkordeon)
label
{
	cursor: default;
}

.formInfo {
	background: #fef7da;
	border: 1px solid #ddd;
	margin: 0 0 1em 0;
	
	p {
		font-size: .875em;
		line-height: 1.2em;
		padding: .750em .750em 0;
	}
}
.button.expand.white {
	background-color: white;
	color: #0078a0;
	text-decoration: underline;
}

//Tooltip



.tooltip{
position: absolute;
} 

.tip-bottom {
	float: left;
	width: 18px;
}


.labelTitle {
	float: left;
	padding-right: .500em;
}

.hidden { display: none !important; }
.visible { display: block !important; }

.spinner { 
	border: 1px solid #999;
	position: absolute;
	top: 20%;
	left: 50%;
	padding: 20px;
	margin-left: -12.5%;
	text-align: center;
	background-color: #fff;
	z-index: 9999;
 }

 .checked  {
 	width: 20px;
 	height: 20px;
 	display: none;
 }


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    //margin: 0;
}

//END Form Elemente

//START Mixins

// -dj - margin mixin, je mehr Einträge im Array $margins, desto mehr benannte margin-bottoms
$margins: (5,10,15,20,25,30,35,40,45);
@each $margin in $margins {
	.margin-bottom-#{$margin} { margin-bottom: #{$margin}px !important; }
}


//OLD?
// -dj - iconstep war ursprünglich für die Indikatoren gedacht um anzuzeigen wo im Prozess ich mich befinde
.iconStep {
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	font-size: 0.78571rem;
	font-weight: bold;
	text-align: center;
	width: 25px;
	height: 25px;
	line-height: 21px;
	border: 2px solid #ccc;
	border-radius: 20px;
	background: #fff;
	margin: -2px 10px 0 0;

	&.active {
		background-color: #99d6c4;
	}
}

