# ISAPI Rewrite (global)

RewriteEngine on
RewriteBase /

RewriteRule ^/?$ /de/index.php [L]
RewriteRule ^patienten-informationen/?$ /de/patienten-informationen.php [L]
RewriteRule ^ueber-uns/?$ /de/ueber-uns.php [L]
RewriteRule ^aerzte-zugang/?$ /de/aerzte-zugang.php [L]
RewriteRule ^anmelden/?$ /de/anmelden.php [L]
RewriteRule ^login/?$ /de/login.php [L]
RewriteRule ^verifizierung/?$ /de/verifizierung.php [L]

RewriteRule ^zweitmeinung/?$ /de/zweitmeinung/bestellen.php [L]
RewriteRule ^zweitmeinung/bestellen/?$ /de/zweitmeinung/bestellen.php [L]
RewriteRule ^zweitmeinung/dateneingabe/?$ /de/zweitmeinung/dateneingabe.php [L]
RewriteRule ^zweitmeinung/datenpruefung/?$ /de/zweitmeinung/datenpruefung.php [L]
RewriteRule ^zweitmeinung/spezialistenauswahl/?$ /de/zweitmeinung/spezialistenauswahl.php [L]
RewriteRule ^zweitmeinung/gespraech/?$ /de/zweitmeinung/gespraech.php [L]
RewriteRule ^zweitmeinung/befund/?$ /de/zweitmeinung/befund.php [L]


RewriteRule ^faq/?$ /de/faq.php [L]
RewriteRule ^datenschutz-richtlinien/?$ /de/datenschutz-richtlinien.php [L]
RewriteRule ^agb/?$ /de/agb.php [L]
RewriteRule ^impressum/?$ /de/impressum.php [L]